.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .profile-card {
    text-align: center;
    .profile-details{
      margin-top: 3em;
    }
    .profile-configuration {
      margin-top: 3em;
      .btnEdit{
        border-style: solid;
        border-color: #4f46e5;
      }
      .btnDelete {
        margin-left: 4em;
      }
    }
  }
}

.invitation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .invitationForm {
    .input-title,
    .input-receiver,
    .menu-bar {
      margin-top: 2em;
    }
  }
}

.edit-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .edit-profile-card{
    text-align: center;
    .edit-profile-details{
      margin-top: 3em;
      .input-new-name,
      .input-new-email{
        margin-top: 3em; 
      }
    }
  }
  .btn-save{
    margin-top: 3em;
  }
}
